/* Home.css */
body {
  background: none;
}

/* Style du container des contacts */
.contact-container {
  display: flex;
  flex-direction: row; /* Afficher côte à côte */
  justify-content: space-around; /* Espace entre les éléments */
  flex-wrap: wrap; /* Permet de passer à la ligne si nécessaire */
  margin: 20px; 
  padding: 10px;
}

/* Style pour chaque bloc de contact */
.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px; /* Ajustez la largeur pour qu'elle soit plus petite si nécessaire */
  padding: 9px;
  margin: 10px; /* Ajuster la marge pour l'espacement */
  border-radius: 45px;
  box-shadow: 0px 2px 20px 5px rgb(0, 0, 0);
  word-wrap: break-word; /* Permet de casser les mots si nécessaire */
  overflow-wrap: break-word; /* Pour plus de compatibilité */
}

/* Style des labels pour aligner les informations */
.contact-item label {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #61abffbd;
  margin: 5px 0; /* Réduire la marge entre les labels */
  max-width: 100%; /* S'assure que le label ne dépasse pas la boîte */
}

/* Style des messages d'erreur */
.error-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}

h1 {
  font-size: 2.5em; 
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: center; /* Centre le texte */
  text-decoration: underline; /* Souligne le texte */
}
