/* Home.css */
nav ul {
  list-style: none; /* Supprime les puces de la liste */
  margin: 0; /* Supprime la marge par défaut */
  padding: 0; /* Supprime le rembourrage par défaut */
  display: flex; /* Utilise Flexbox pour l'agencement */
  flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
  justify-content: space-between; /* Espace égal entre les éléments */
  align-items: center; /* Centre les éléments verticalement */
}

nav li {
  margin-right: 20px; /* Ajoute un espacement à droite des éléments de la liste */
}

nav a {
  text-decoration: none; /* Supprime le soulignement des liens */
  color: #337ab7; /* Couleur des liens */
}

nav a:hover {
  color: #23527c; /* Couleur des liens au survol */
}

body {
  background-color: #0b1622; /* Couleur de fond de la page */
  margin: 0; /* Supprime la marge par défaut */
  padding: 0; /* Supprime le rembourrage par défaut */
  color: #ffffff; /* Couleur du texte */
}

.header {
  border: 2px solid #625e5e; /* Bordure autour de l'en-tête */
  padding: 20px; /* Rembourage interne de l'en-tête */
  background-color: #152232; /* Couleur de fond de l'en-tête */
  margin-bottom: 20px; /* Espace en bas de l'en-tête */
  color: #ffffff; /* Couleur du texte de l'en-tête */
}

.header ul {
  list-style-type: none; /* Supprime les puces de la liste dans l'en-tête */
  padding: 0; /* Supprime le rembourrage par défaut */
  margin: 0; /* Supprime la marge par défaut */
}

.header li {
  margin: 5px 0; /* Ajoute un espacement vertical entre les éléments de la liste dans l'en-tête */
}

.header a {
  text-decoration: none; /* Supprime le soulignement des liens dans l'en-tête */
  color: #fff; /* Couleur des liens dans l'en-tête */
  font-weight: bold; /* Met le texte en gras */
}

html,
body {
  padding: 0; /* Supprime le rembourrage par défaut */
  margin: 0; /* Supprime la marge par défaut */
  background: linear-gradient(135deg, #8295a9, #2b75ae); /* Dégradé de fond */
  background-size: cover; /* Couvre l'ensemble de l'arrière-plan */
  height: 100%; /* Hauteur de 100% */
  overflow: hidden; /* Cache le débordement */
}

.welcome-section {
  max-width: 800px; /* Largeur maximale de la section de bienvenue */
  margin: 40px auto; /* Centre la section horizontalement avec un espacement en haut et en bas */
  padding: 20px; /* Rembourage interne de la section */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Ombre portée autour de la section */
  color: #ffffff; /* Couleur du texte de la section */
  font-size: 20px; /* Taille de la police de la section */
  line-height: 1.6; /* Hauteur de ligne pour le texte */
}

.welcome-section h1 {
  font-size: 2.5em; /* Taille de la police du titre principal */
  text-align: center; /* Centre le titre */
  margin-bottom: 20px; /* Espace en bas du titre */
}

.welcome-section h3 {
  font-size: 1.2em; /* Taille de la police pour les sous-titres */
  text-align: justify; /* Justifie le texte */
  margin: 10px 0; /* Espacement vertical autour du sous-titre */
}
